.Page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1080px;
    margin: 0 auto;
    height: 100vh;
    background-color: #282c34;
    color: white;
    position: relative;
    overflow: hidden;
}