$BNAblue: #005e85;
$BNAlightBlue: #018EDD;

.Page{
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: center;
    margin: 0 auto;
    height: 100dvh;
    color: white;
    position: relative;
    overflow: hidden;
    header{
        width: 100%;
        margin-top: 2dvh;
        margin-bottom: 3dvh;
        display: flex;
        justify-content: center;
        position: relative;
        div{
            &.logo{
                background-color: transparent;
                padding: 0;
                width: fit-content;
                img{
                    height: 5dvh;
                }
            }
            &.clock{
                width: 25%;
                height: 100%;
                background-color: $BNAlightBlue;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: absolute;
                right: 0;
                img{
                    height: 55%;
                    margin-left: 15%;
                }
                span{
                    font-weight: bold;
                    font-size: 2.3dvh;
                    margin-right: 25%;
                    margin-bottom: 3%;
                }
            }
        }
    }
    h2{
        margin: -1.5dvh 0 1dvh;
        width: 100%;
        text-align: center;
        font-size: 1.65dvh;
    }
    .table{
        margin-top: -3dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 75% !important;
        height: auto !important;
        aspect-ratio: 1/1 !important;
        overflow: hidden;
        div{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
            aspect-ratio: 3/1;
            margin-bottom: -2dvh;
        }
    }
}

@media screen and (min-device-aspect-ratio: 9/16){
    .Page{
        aspect-ratio: 9/16;
    }
}