$BNAblue: #005e85;
$BNAlightBlue: #018EDD;

.border{
    border-radius: 10px;
    border: 15px solid $BNAlightBlue;
    width: 85%;
    margin: 0 auto;
    .board{
        width: 100%;
        position: relative;
        overflow: hidden;
        img{
            height: 100%;
            opacity: 0.25;
        }
    }
}