$BNAblue: #005381;
$BNAlightBlue: #23abe0;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $BNAblue;
  color: white;
  touch-action: none;
  user-select: none;
}

#root{
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  background-image: url('../public/assets/img/fondo-juego.png');
  background-position: center;
  background-size: cover;
}